In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('3PtHistoricalResults.csv')
df.head()

             name  made  att  dewmade  dewatt
0      Seth Curry    13   25      NaN     NaN
1   Stephen Curry   173  225      3.0     4.0
2     Buddy Hield    91  125      0.0     8.0
3  Damian Lillard    45   75      3.0     4.0
4     Kyle Korver    14   25      NaN     NaN

In [9]:
df_boxscores = pd.read_csv('Boxscores.csv', index_col=0)
print(df_boxscores.shape)
df_boxscores.head()

(548000, 13)

,FixtureURL,Team,Player,MinutesPlayed,Points,FieldGoals,FieldGoalsAttempted,ThreePointers,ThreePointersAttempted,FreeThrows,FreeThrowsAttempted,OffensiveRebounds,DefensiveRebounds
0,/boxscores/200310280LAL.html,DAL,10,34 days 22:59:59,4,2,5,0,0,0,0,0,3
1,/boxscores/200310280LAL.html,DAL,11,34 days 22:59:59,4,2,2,0,0,0,0,1,0
2,/boxscores/200310280LAL.html,DAL,12,34 days 22:59:59,1,0,0,0,0,1,2,0,0
3,/boxscores/200310280LAL.html,LAL,13,34 days 22:59:59,16,6,14,1,5,3,5,0,3
4,/boxscores/200310280LAL.html,LAL,14,34 days 22:59:59,21,10,20,-500,4,0,0,1,6

In [4]:
df = pd.read_csv('Fixtures.csv')
df.head()

   Unnamed: 0  Season                    FixtureKey
0           0  2004.0                           NaN
1           1  2004.0  /boxscores/200310280SAS.html
2           2     NaN  /boxscores/200310290BOS.html
3           3  2004.0  /boxscores/200310290CHI.html
4           4  2004.0  /boxscores/200310290DEN.html

In [5]:
df = pd.read_csv('Players.csv')
df.head()

   Unnamed: 0  PlayerID FirstName   Surname  Height  Weight        DOB
0           0         1   Antoine    Walker    80.0     224  8/12/1976
1        2561         2      Dirk  Nowitzki    84.0     245  6/19/1978
2           1         2      Dirk  Nowitzki    84.0     245  6/19/1978
3           2         3   Michael    Finley    79.0     215   3/6/1973
4           3         4     Steve      Nash    75.0     195   2/7/1974

In [6]:
df = pd.read_csv('Participants.csv')
df.head()

   Unnamed: 0         PlayerName
0           0  Tyrese Haliburton
1           1      Malik Beasley
2           2      Jalen Brunson
3           3    Lauri Markkanen
4           4     Damian Lillard

In [10]:
# We can see negative three pointers as well as 'high' values that seem unreasonable.
# e.g. a player is very unlikely to have made -500 3 pointers
df_boxscores.describe()

,Player,Points,FieldGoals,FieldGoalsAttempted,ThreePointers,ThreePointersAttempted,FreeThrows,FreeThrowsAttempted,OffensiveRebounds,DefensiveRebounds
count,548000.000000,548000.000000,548000.000000,548000.000000,548000.000000,548000.000000,548000.000000,548000.000000,548000.00000,548000.000000
mean,818.764239,9.907447,3.674843,8.045805,0.815675,2.281447,1.742082,2.286493,1.03752,3.075945
std,564.931206,8.270016,3.095062,5.793553,1.582787,2.641138,2.380647,2.911524,1.41169,2.719647
min,-1.000000,0.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,342.000000,3.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000
50%,774.000000,8.000000,3.000000,7.000000,0.000000,1.000000,1.000000,2.000000,1.00000,2.000000
75%,1188.000000,15.000000,5.000000,12.000000,1.000000,4.000000,3.000000,4.000000,2.00000,4.000000
max,2535.000000,81.000000,28.000000,50.000000,500.000000,24.000000,26.000000,39.000000,18.00000,25.000000