In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the participants
df_participants = pd.read_csv('Participants.csv', index_col=0)
print(df_participants.shape)
df_participants

(8, 1)

           PlayerName
0   Tyrese Haliburton
1       Malik Beasley
2       Jalen Brunson
3     Lauri Markkanen
4      Damian Lillard
5    Donovan Mitchell
6          Trae Young
7  Karl-Anthony Towns

In [4]:
# Read in the csv containing the contest data and modelled player 3 point make data from the previous stage
df_modelled = pd.read_csv('ModelledData.csv', index_col=0)
df_modelled.head()

,Player,GlobalMake,made,att,dewmade,dewatt,ContestMakeActual,dewContestMakeActual,ProjectedMake,DewProjectedMake
0,Bradley Beal,0.347381,15,25,0.0,0.0,0.600,0.00,0.563809,0.313670
1,Buddy Hield,0.393311,91,125,0.0,8.0,0.728,0.00,0.623608,0.348474
2,C.J. McCollum,0.408477,24,50,0.0,0.0,0.480,0.00,0.642646,0.360355
3,Damian Lillard,0.353682,45,75,3.0,4.0,0.600,0.75,0.572167,0.318333
4,Danny Green,0.241922,16,25,0.0,0.0,0.640,0.00,0.422291,0.241567