In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the participants
df_participants = pd.read_csv('Participants.csv', index_col=0)
print(df_participants.shape)
df_participants

(8, 1)

           PlayerName
0   Tyrese Haliburton
1       Malik Beasley
2       Jalen Brunson
3     Lauri Markkanen
4      Damian Lillard
5    Donovan Mitchell
6          Trae Young
7  Karl-Anthony Towns

In [4]:
# Read in the csv containing the contest data and modelled player 3 point make data from the previous stage
df_modelled = pd.read_csv('ModelledData.csv', index_col=0)
df_modelled.head()

,Player,GlobalMake,made,att,dewmade,dewatt,ContestMakeActual,dewContestMakeActual,ProjectedMake,DewProjectedMake
0,Bradley Beal,0.347381,15,25,0.0,0.0,0.600,0.00,0.563809,0.313670
1,Buddy Hield,0.393311,91,125,0.0,8.0,0.728,0.00,0.623608,0.348474
2,C.J. McCollum,0.408477,24,50,0.0,0.0,0.480,0.00,0.642646,0.360355
3,Damian Lillard,0.353682,45,75,3.0,4.0,0.600,0.75,0.572167,0.318333
4,Danny Green,0.241922,16,25,0.0,0.0,0.640,0.00,0.422291,0.241567

In [5]:
# Set how many iterations we want to run
sim_run_count = 20000

# Only take the rows that include the participants and duplicate the data 
df_contest = df_modelled[df_modelled['Player'].isin(df_participants['PlayerName'].values)].reset_index(drop=True)
df_contest = pd.DataFrame(np.repeat(df_contest.values, sim_run_count, axis=0), columns=df_contest.columns)
df_contest['RunCount'] = pd.concat([pd.DataFrame([x for x in range(1, sim_run_count + 1)])]*sim_run_count, ignore_index=True)

# Qualifying Round
df_contest['RegularBalls'] = np.random.binomial(16, df_contest['ProjectedMake'], len(df_contest))
df_contest['MoneyBallsRack'] = np.random.binomial(5, df_contest['ProjectedMake'], len(df_contest))*2
df_contest['MoneyBallsNonRack'] = np.random.binomial(4, df_contest['ProjectedMake'], len(df_contest))*2
df_contest['MoneyBalls'] = df_contest['MoneyBallsRack'] + df_contest['MoneyBallsNonRack']
df_contest['DewBalls'] = np.random.binomial(2, df_contest['DewProjectedMake'], len(df_contest)) * 3
df_contest['QualifyingTotal'] = df_contest['RegularBalls'] + df_contest['MoneyBalls'] + df_contest['DewBalls']

# Hypothetical Final
df_contest['RegularBallsF'] = np.random.binomial(16, df_contest['ProjectedMake'], len(df_contest))
df_contest['MoneyBallsRackF'] = np.random.binomial(5, df_contest['ProjectedMake'], len(df_contest))*2
df_contest['MoneyBallsNonRackF'] = np.random.binomial(4, df_contest['ProjectedMake'], len(df_contest))*2
df_contest['MoneyBallsF'] = df_contest['MoneyBallsRackF'] + df_contest['MoneyBallsNonRackF']
df_contest['DewBallsF'] = np.random.binomial(2, df_contest['DewProjectedMake'], len(df_contest)) * 3
df_contest['FinalTotal'] = df_contest['RegularBallsF'] + df_contest['MoneyBallsF'] + df_contest['DewBallsF']

df_contest

,Player,GlobalMake,made,att,dewmade,dewatt,ContestMakeActual,dewContestMakeActual,ProjectedMake,DewProjectedMake,...,MoneyBallsNonRack,MoneyBalls,DewBalls,QualifyingTotal,RegularBallsF,MoneyBallsRackF,MoneyBallsNonRackF,MoneyBallsF,DewBallsF,FinalTotal
0,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,2,10,0,22,10,6,4,10,0,20
1,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,4,8,0,20,12,10,8,18,0,30
2,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,6,10,3,22,6,10,4,14,6,26
3,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,4,12,0,22,8,2,8,10,3,21
4,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,6,14,0,22,10,6,8,14,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,Tyrese Haliburton,0.402166,30,50,2.0,4.0,0.6,0.5,0.634774,0.355389,...,8,12,3,26,11,8,6,14,0,25
159996,Tyrese Haliburton,0.402166,30,50,2.0,4.0,0.6,0.5,0.634774,0.355389,...,8,14,3,28,12,6,4,10,0,22
159997,Tyrese Haliburton,0.402166,30,50,2.0,4.0,0.6,0.5,0.634774,0.355389,...,4,10,0,19,9,8,6,14,3,26
159998,Tyrese Haliburton,0.402166,30,50,2.0,4.0,0.6,0.5,0.634774,0.355389,...,4,14,3,30,8,8,6,14,3,25
159999,Tyrese Haliburton,0.402166,30,50,2.0,4.0,0.6,0.5,0.634774,0.355389,...,8,10,3,25,12,4,4,8,3,23

In [6]:
# Group by run count and rank the players by their qualifying total. 
# We deal with ties by picking the first row that appears, but because we've randomly shuffled the data using the sample function
# this ensures we're not just picking the players that are alphabetically earlier everytime.
# in the real world the players would do multiple 30 seconds rounds to determine a winner, but in this case we are
# just going to randomly pick 1 of them to go through

df_contest['QualifyingRank'] = df_contest.sample(frac=1).groupby(['RunCount'])['QualifyingTotal'].rank(method='first', ascending=False).reindex_like(df_contest)
df_contest.groupby(['RunCount']).sample(frac=1)[['Player', 'RunCount', 'QualifyingTotal', 'QualifyingRank']][:16]

                    Player  RunCount  QualifyingTotal  QualifyingRank
100000       Malik Beasley         1               23             5.0
60000   Karl-Anthony Towns         1               24             4.0
0           Damian Lillard         1               22             6.0
20000     Donovan Mitchell         1               24             3.0
40000        Jalen Brunson         1               21             7.0
120000          Trae Young         1               24             2.0
80000      Lauri Markkanen         1               17             8.0
140000   Tyrese Haliburton         1               25             1.0
80001      Lauri Markkanen         2               22             4.0
100001       Malik Beasley         2               27             1.0
40001        Jalen Brunson         2               19             8.0
60001   Karl-Anthony Towns         2               23             2.0
140001   Tyrese Haliburton         2               21             5.0
120001          Trae Young         2               23             3.0
20001     Donovan Mitchell         2               20             7.0
1           Damian Lillard         2               20             6.0

In [7]:
# if a player is ranked 3 or higher, then they are through qualifying
df_contest['ThroughQualifying'] = df_contest[['QualifyingRank']] <= 3

through_qualifying = df_contest['ThroughQualifying'] == True
not_through_qualifying = df_contest['ThroughQualifying'] == False
df_contest.loc[through_qualifying, 'FinalThroughQualifyingTotal'] = df_contest.loc[through_qualifying, 'FinalTotal']
df_contest.loc[not_through_qualifying, 'FinalThroughQualifyingTotal'] = 0

df_contest.head()

,Player,GlobalMake,made,att,dewmade,dewatt,ContestMakeActual,dewContestMakeActual,ProjectedMake,DewProjectedMake,...,QualifyingTotal,RegularBallsF,MoneyBallsRackF,MoneyBallsNonRackF,MoneyBallsF,DewBallsF,FinalTotal,QualifyingRank,ThroughQualifying,FinalThroughQualifyingTotal
0,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,22,10,6,4,10,0,20,6.0,False,0.0
1,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,20,12,10,8,18,0,30,6.0,False,0.0
2,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,22,6,10,4,14,6,26,4.0,False,0.0
3,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,22,8,2,8,10,3,21,6.0,False,0.0
4,Damian Lillard,0.353682,45,75,3.0,4.0,0.6,0.75,0.572167,0.318333,...,22,10,6,8,14,0,24,6.0,False,0.0

In [8]:
# Rank the winner from the final round
df_contest['FinalRank'] =  df_contest.sample(frac=1).groupby(['RunCount'])['FinalThroughQualifyingTotal'].rank(method='first', ascending=False).reindex_like(df_contest)

df_win = df_contest[df_contest['FinalRank'] == 1]
df_win.groupby(['Player'])['FinalRank'].sum() / sim_run_count

Player
Damian Lillard        0.05060
Donovan Mitchell      0.06045
Jalen Brunson         0.17800
Karl-Anthony Towns    0.16810
Lauri Markkanen       0.13090
Malik Beasley         0.18690
Trae Young            0.04775
Tyrese Haliburton     0.17730
Name: FinalRank, dtype: float64

In [9]:
# decimal odds
1 / (df_win.groupby(['Player'])['FinalRank'].sum() / sim_run_count)

Player
Damian Lillard        19.762846
Donovan Mitchell      16.542597
Jalen Brunson          5.617978
Karl-Anthony Towns     5.948840
Lauri Markkanen        7.639419
Malik Beasley          5.350455
Trae Young            20.942408
Tyrese Haliburton      5.640158
Name: FinalRank, dtype: float64